<html>

<head>
    <title>CCD Sites</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        window.app = window.app || {};
        window.app.BUILD_MODE = "builtin";
        window.hlx = window.hlx || {};
        window.hlx.codeBasePath = '../';
    </script>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
    <script src="<%= htmlWebpackPlugin.files.js %>"></script>
    <script>
        function loadAEMFragments() {
            if (!window.customElements.get('aem-sites')) {
                console.error('loadAEMFragments: "<aem-sites ... />" is not defined');
                return;
            }

            const aemSites1 = document.createElement('aem-sites');
            aemSites1.path = 'https://main--ccd-sites--shmmsra.aem.page/shmishra/creators-first-blade.plain.html';
            // aemSites1.path = 'https://main--ccd-sites--shmmsra.aem.page/shmishra/editorial-cards-new-features-all-cards.plain.html';
            document.body.appendChild(aemSites1);

            const aemSites2 = document.createElement('aem-sites');
            aemSites2.path = 'https://main--ccd-sites--shmmsra.aem.page/shmishra/explore-ai-features.plain.html';
            document.body.appendChild(aemSites2);
        }

        window.addEventListener('load', loadAEMFragments);
    </script>
</head>

<body>
</body>

</html>